body{
    margin: 0;
}
#search{
    border-bottom: 1px black solid;
    padding-bottom: 15px;
    text-align: center;
    padding-top:15px ;
    display: flex;
    flex-direction: column;
}
#buttons{
    margin-top: 20px;
}
#results{
    margin-top: 20px;
}

#input{
    padding: 7px;
    width: 300px;
    align-self: center;

}
button{
    padding: 7px;
    border: 1px solid black;
}